<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>444636892673-kpdpd390v6rs86c7uv3cuqcpfefp1d4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444636892673-kpdpd390v6rs86c7uv3cuqcpfefp1d4m</string>
	<key>API_KEY</key>
	<string>AIzaSyArOx5q1T0-2iCifXAaGi0pIENmloYq4Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>444636892673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EK.Spotify-Project</string>
	<key>PROJECT_ID</key>
	<string>spotify-tinder</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-tinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:444636892673:ios:e2da2572c26b03d7</string>
	<key>DATABASE_URL</key>
	<string>https://spotify-tinder.firebaseio.com</string>
</dict>
</plist>
